div.new-games-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
}

.new-game-image {
    width: 100%;
    height: 400px;
}

.game-choice {
    width: 300px;
    height: 150px;
    margin: 20px;
    border-color: pink;
}

.new-games-choices {
    width: 100%;
    display: flex;
    justify-content: center;
}