*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slide-container {
    width: 1280px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 3840px;
    height: 720px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 1280px;
    height: 720px;
}

.button-container {
    top: -20px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: pink;
}

.slider-button :hover {
    background-color: #feed95;
}

#slider-image-1:target~.image-container {
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -1280px;
}

#slider-image-3:target~.image-container {
    left: -2540px;
}

.column {
    float: left;
    padding: 50px;
    border: 1px solid;
    padding: 120px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}