div.products-sell {
    display: flex;
    overflow: hidden;
    flex-wrap: column wrap;
    justify-content: space-between;
    position: relative;
}

div.products-sell:hover>.swap-button {
    visibility: visible;
}

div.product-container {
    margin: 25px;
    display: grid;
    row-gap: 10px;
    width: 300px;
}

a.product-link img {
    transition: .2s;
    border-radius: 5px;
}

div.hide-product {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .2s;
}

button.swap-button {
    background: rgba(0, 0, 0, .3);
    height: 90%;
    width: 1%;
    position: absolute;
    top: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    visibility: hidden;
}

button.right-swap {
    right: 0px;
}

a.product-link:hover img {
    filter: grayscale(50%);
}

h3.product-title {
    transition: .2s;
}

h3.product-title a {
    color: inherit;
    text-decoration: inherit;
}

h3.product-title:hover {
    color: #f7ced7ff
}

label.product-price {
    font-size: 20px;
    font-weight: bold;
}

div.contain-platform-button {
    display: flex;
    justify-content: space-between;
}

span.platform::after {
    content: ' ';
    width: 70%;
    border-bottom: 3px solid #f7ced7ff;
    display: block;
}

a.see-more {
    text-decoration: none;
    color: black;
    transition: .2s;
}

a.see-more:hover {
    color: #feed99;
}

a.see-more::after {
    content: ' ';
    width: 75%;
    border-bottom: 2px solid #f7ced7ff;
    display: block;
}

button.wishlist-button {
    padding: 5px;
    color: white;
    background-color: #f7ced7ff;
    transition: .2s;
    border: none;
    border-radius: 5px;
}

button.wishlist-button:hover {
    background-color: #feed99;
}

button.swap-product-button {
    padding: 5px;
    color: white;
    background-color: #f7ced7ff;
    transition: .2s;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button.swap-product-button:hover {
    background-color: #feed99;
}