div.products-sell {
    display: flex;
    overflow: hidden;
    flex-wrap: column wrap;
    justify-content: space-between;
}

div.product-container {
    margin: 20px;
    display: grid;
    row-gap: 10px;
    width: 300px;
}

a.product-link img {
    transition: .2s;
    border-radius: 5px;
}

a.product-link:hover img {
    filter: grayscale(50%);
}

h2.product-title {
    transition: .2s;
}

h2.product-title a {
    color: inherit;
    text-decoration: inherit;
}

h2.product-title:hover {
    color: #f7ced7ff
}

label.product-price {
    font-size: 25px;
    font-weight: bold;
}

div.contain-platform-button {
    display: flex;
    justify-content: space-between;
}

span.platform::after {
    content: ' ';
    border-bottom: 4px solid #f7ced7ff;
    display: block;
}

button.wishlist-button {
    padding: 5px;
    color: white;
    background-color: #f7ced7ff;
    transition: .2s;
    border: none;
    border-radius: 5px;
}

button.wishlist-button:hover {
    background-color: #feed99;
}

button.swap-product-button {
    padding: 5px;
    color: white;
    background-color: #f7ced7ff;
    transition: .2s;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button.swap-product-button:hover {
    background-color: #feed99;
}